<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}{% endblock %} </title>
        <!-- Style Sheets -->
            <!-- Bootstrap -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <!-- Mad Libs -->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- JavaScript -->
            <!-- jQuery -->
            <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
            <!-- Bootstrap -->
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- Favicon -->
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>