{% extends "base.html" %}

{% block title %}Create your own story{% endblock %} 

{% block content %}
	<h1>
	    Create your own story
	</h1>

	<br>
	<br>

	<form role="form" method="POST">
	    <div class="form-group">
	        <label for="title">Title</label>
	        <input type="text" class="form-control" id="title" name="title" placeholder="The Little Mermaid" required>
	    </div>
	    <div class="form-group">
	        <label for="author">Your Name</label>
	        <input type="text" class="form-control" id="author" name="author" placeholder="Hans Christian Andersen">
	    </div>
	    <div class="form-group">
	        <label for="content">Content</label>
	        <textarea class="form-control" id="content" name="content" placeholder="Once upon a time ..." rows="10" required></textarea>
	    </div>
	    <button type="submit" class="btn btn-default">Submit</button>
	</form>

{% endblock %}