{% extends "base.html" %}

{% block title %}Stories{% endblock %} 

{% block content %}
	<div class="jumbotron">
  		<h1>Welcome to Mad Libs!</h1>
  		<h1><small><a class="btn btn-primary btn-lg" href="{{ url_for('about') }}" role="button">About Mad Libs</a></small></h1>
	</div>

{% for story in stories %}
		<p>
			<a class="btn btn-default btn-lg" href ="{{ url_for('input_form', story_id = story.id) }}" role="button"> {{ story.title }} </a>
		</p>
	{% endfor %}

	<p>
		<a class="btn btn-primary btn-lg" href ="{{ url_for('new_story_get') }}" role="button"> ... or create your own story </a>
	</p>

{% endblock %}